html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  display: block;
}
li {
  list-style: none;
}
button {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #151515;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/back2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.header-main {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
.header__inner {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 40px;
}
.menu__list-item {
  display: block;
  position: relative;
}
.dropdownbtn::after {
  content: "";
  position: absolute;
  background-image: url(../images/drd.svg);
  width: 24px;
  height: 24px;
  z-index: 10;
}
.menu__price {
  left: -25px;
  top: 30px;
  width: 0;
  height: 0;
  background-color: transparent;
  overflow: hidden;
  transition: height 0.8s ease-in-out, width 0.8s ease-in-out;
  position: absolute;
  text-align: center;
}
.menu__price-item {
  padding: 5px;
}
.menu__price--active {
  width: 107px;
  height: 160px;
  padding: 5px;
  transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
}
.menu__price-link {
  border-bottom: 1px solid transparent;
  transition: all 0.8s;
}
.menu__price-link:hover {
  border-bottom: 1px solid #000;
}
.top {
  text-align: center;
  padding-top: 250px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}
.top__title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}
.main {
  flex-grow: 1;
}
.background__pic::after {
  content: "";
  position: absolute;
  z-index: 5;
  background: rgba(21, 21, 21, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.background__pic-img {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}
.question {
  padding: 100px 0;
}
.question__title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.question__inner {
  display: flex;
  justify-content: space-around;
}
.question__textbox {
  max-width: 400px;
  padding: 0 10px;
}
.question__textbox-text {
  margin-bottom: 30px;
}
.question__inner-img {
  height: 415px;
}
.advice {
  margin-bottom: 100px;
}
.advice__inner {
  display: grid;
  row-gap: 30px;
}
.advice__inner-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.advice__inner-text {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.advice__inner-img:nth-child(4) {
  grid-area: 3 / 1 / 4 / 1;
  justify-self: end;
  padding-right: 50px;
}
.advice__inner-img:nth-child(3) {
  grid-area: 3 / 1 / 4 / 1;
  padding-left: 50px;
}
.types {
  margin-bottom: 150px;
}
.types__title {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}
.mattress__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.mattress__list {
  position: relative;
}
.mattress__item-img {
  cursor: pointer;
}
.mattress__item-text {
  width: 0;
  height: 0;
  background-color: transparent;
  overflow: hidden;
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.mattress__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mattress-active .mattress__item-text {
  width: 400px;
  height: 150px;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.mattress__item-title {
  text-align: center;
  text-transform: uppercase;
}
.pillow {
  margin-bottom: 150px;
}
.pillow__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}
.pillow__inner-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}
.pillow__inner-img {
  width: 100%;
}
.pillow__inner-btn {
  width: 150px;
  margin: 30px auto 0;
  display: block;
  padding: 12px 15px;
  color: #000;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #000;
  text-transform: uppercase;
  text-align: center;
  height: 50px;
  border-radius: 5px;
  transition: all 1.3s;
}
.subscribe {
  background: transparent;
  max-width: 720px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(125, 130, 134, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px;
  padding: 0 5px;
}
.form {
  margin-bottom: 43px;
  width: 100%;
  align-items: center;
  display: flex;
}
.subscribe__text {
  margin-bottom: 20px;
}
.form__email {
  padding: 12px 25px;
  border-radius: 5px;
  border: 1px solid #cad3db;
  width: 75%;
  margin-right: 5px;
  color: #0f121f;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.form__email:focus {
  outline: 1px solid #63696f;
}
.form__button {
  background: #63696f;
  padding: 10px;
  border: none;
  width: 25%;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  transition: all 1.3s;
}
.form__button:hover {
  background-color: #0d0d0e;
  color: #fff;
}
.pillow__inner-btn:hover,
.footer__top-link:hover {
  background-color: #63696f;
  color: #fff;
}
.footer {
  background-color: transparent;
  margin-bottom: 50px;
}
.footer__inner {
  display: grid;
}
.footer__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  margin-bottom: 50px;
  text-align: center;
  gap: 30px;
}
.footer__top-title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.footer__top-link {
  width: 150px;
  margin: 0 auto;
  display: block;
  padding: 12px 15px;
  color: #000;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #000;
  text-transform: uppercase;
  text-align: center;
  height: 50px;
  border-radius: 5px;
  transition: all 1.3s;
}
.footer_line {
  height: 2px;
  background-color: #000;
  margin-bottom: 50px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__info {
  display: flex;
  gap: 40px;
}
.footer__info-links {
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}
.footer__info-links:hover {
  border-bottom: 1px solid #000;
}
.footer__menu {
  display: flex;
  gap: 20px;
}
.footer__menu-img {
  background-color: #000;
  width: 30px;
  height: 30px;
}
@media (max-width: 1150px) {
  .advice__inner-img {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .mattress-active .mattress__item-text {
    width: 190px;
    height: 300px;
  }
  .footer-logo {
    display: none;
  }
}
@media (max-width: 820px) {
  .pillow__inner-link {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .question__title {
    font-size: 24px;
  }
  .question__textbox-text,
  .mattress__item-text,
  .advice__inner-text,
  .pillow__inner-text {
    font-size: 14px;
  }
  .question__inner-img {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .mattress__item-text {
    font-size: 14px;
  }
  .mattress-active .mattress__item-text {
    font-size: 14px;
  }
  .header__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .question__inner {
    flex-wrap: wrap;
  }
  .question__textbox {
    max-width: none;
  }
  .top {
    padding-top: 340px;
  }
  .top__title {
    font-size: 21px;
  }
  .types__title {
    margin-bottom: 35px;
  }
  .mattress__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-bottom: 10px;
  }
  .mattress__item-img {
    width: 50%;
  }
  .mattress__item-title {
    font-size: 11px;
  }
  .mattress-active .mattress__item-text {
    top: 136%;
    width: 100%;
    height: 150px;
  }
  .advice__inner-img:nth-child(3),
  .advice__inner-img:nth-child(4) {
    padding: 0;
  }
  .footer__bottom {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-size: 12px;
  }
}
@media (max-width: 460px) {
  .menu__list {
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__info {
    flex-direction: column;
  }
}
@media (max-width: 395px) {
  .menu__list-item:nth-child(3) {
    order: 3;
  }
}
